*.pyc
*.pye
.local
sqlite3*
gunicorn.errors
env
*.log

src/
django_project/static/admin/
django_project/static/web.com.pushmonkey.2A04TRM75FIKBYSUV/

.idea/
.vscode/
/vendor/
composer.lock
/cache/gsub/
/upload/*
/cache/images/*
/generated/*
.sass-cache/
node_modules/
dist/
validation-report.json
validation-status.json
.DS_Store
venv/

